{% extends 'base.html' %}

{% block content %}


<p>We just started planning. Mores info coming up here soon.</p>

<section id="images">
    <h1>Images</h1>
    <p>Tag your photos 'art on water' and 'illutron' on flickr</p>
    <img src=""/>
</section>



<section id="program">
<h1>Program</h1>

<h2>Monday</h2>
<p>...</p>

<h2>Tuesday</h2>
<p>...</p>

<h2>Wednesday</h2>
<p>...</p>

<h2>Thursday</h2>
<p>...</p>

<h2>Friday</h2>
<p>...</p>

<h2>Saturday</h2>
<p>...</p>

<h2>Sunday</h2>
<p>...</p>

</section>

{% endblock %}