<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>{% block title %}Wet Art 2011{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="{{ STATIC_URL }}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.tweet.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="bp {% block body-class %}{% endblock %}">
<div id="container">

    <header id="site-header">
            <hgroup>
                <h3><em><a href="http://platform4.dk" class="p4logo">Platform4</a></em> &nbsp; and &nbsp; <em><a href="http://illutron.dk" class="ilogo">Illutron</a></em> <br><span class="small">presents</span></h3>
                <h2>June 20 to 26</h2>
                <h1>Wet Art 2011</h1>
                <h4>A collaborative workshop <br>about <em>interactive art</em> and <em>technology</em> <br>on <em>floating</em> platforms</h4>
                <h5><br>at <em>Platform 4</em> in Aalborg</h5>
            </hgroup>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#images">Images</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#program">Program</a></li>
                <li><a href="#participate">Participate</a></li>
                <li><a href="#people">People</a></li>
                <!--<li>projects</li>-->
        </nav>
    </header>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>


    <footer id="site-footer">
        <p>
                <strong><a href="#container">to top</a></strong>
        </p>
        <p>
                Check out <a href="http://illutron.dk">Illutron</a> and
                <a href="http://platform4.dk">Platform 4</a>.
        </p>
        <p>
                Microsite developed by <a href="http://johan.cc">johan.cc</a>.
                Hosted on a <a href="http://www.linode.com/?r=850e408f57a78445a1970440354f39da5d81b6bf">Linode</a>. The
                code is on <a href="https://github.com/mrbichel/wetart">GitHub</a>.
        </p>
    </footer>

</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1326629-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>