{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}

{% block content %}


<section id="about">
<h2>About</h2>
<p>Platform4's wonderful neighbor, the Limfjord, has long been flowing by quietly and uninterrupted. This will certainly change during Wet Art Workshop Week, where Copenhagen-based artistic group Illutron is coming to Aalborg to interact with Platform4's vibrant community in a collaborative workshop on interactive floating art.</p>
<p>The workshop, which is open to everybody, will run for almost an entire week and focus on building artistic constructions in the water. Floating, moving, sailing, submerged or whatever - we'll know along the way. Come join us and be a part of finishing the plan to create wet art! You can participate all days, some days or one day.</p>
<p>Participation in the workshop is free! (no need to participate all days, you can easily just be there one or more days).</p>

<h3>Platform 4</h3>
<p>Platform4 is a user-driven multi-purpose venue that experiments with new technological and digital elements in combination with artistic and creative genres ranging from music, theatre, contemporary art, design, architecture and more.<br> Read more at <a href="http://platform4.dk">platform4.dk</a></p>

<h3>Illutron</h3>
<p>Illutron is a collaborative interactive art studio located on a barge in Copenhagen south harbour.<br> Read more at <a href="http://illutron.dk/">illutron.dk</a></p>


</section>


<section id="images">
    <h2>Images</h2>
    <p>Tag your photos 'wetart2011' on flickr.</p>

    <div id="flickrfeed" class="loading">
    </div>

    <a href="http://api.flickr.com/services/feeds/photos_public.gne?tags=wetart2011&lang=en-us&format=rss_200">Get the feed</a>

</section>

<section id="news">
<h2>News</h2>
<p>Tag your tweets <strong>#wetart</strong></p>
<div id="twitterfeed" class="loading">

</div>
</section>


<section id="program">
<h2>Program</h2>
<h3>Daily schedule</h3>
<ul>
    <li>Meeting and breakfast every morning at 10:00.</li>
    <li>Afternoon meeting at 16:30.</li>
    <li>Workshops at 17:00. Check the detailed schedule.</li>
    <li>Dinner at 19:00. <strong>Remember to sign up on the list on the info board if you are hungry.</strong></li>
</ul>
<h3>Detailed program</h3>
<iframe width='710' height='400' frameborder='0' src='https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0AqBShZLHlrV1dFhweEpPa19TNFhKcDVxU3IzYXhSLWc&single=true&gid=12&output=html&widget=true'></iframe>
</section>

<section id="people">

<hgroup>
<h2>People</h2>
<h3>Who is Wet Art 2011?</h3>
</hgroup>

{% for person in people %}
    <article class="{% cycle '' 'last' %}">
        {% thumbnail person.image "120x120" crop="top" as img %}
            <figure><img src="{{ img.url }}" width="{{ img.width }}" width="{{ img.height }}"/></figure>
        {% empty %}
        {% endthumbnail %}

        <h3>{{ person.name }}</h3>
        {{ person.bio|markdown }}
    </article>
{% endfor %}

</section>

<section id="participate">
    <h2>Participate</h2>
    <p>To participate send an e-mail to info@platform4.dk with <em>Wet Art Workshop Week</em> in the header, and including your full name and mobile phone number or just show up and talk to us.</p>
    <p>If you are joining, go <a href="https://www.facebook.com/event.php?eid=216320361724486">sign up on facebook</a> as well and generate some buzz.</p>
    <h2>Mailing list</h2>
    <p>To keep in the loop during the workshop make sure to<!-- // MAILCHIMP SUBSCRIBE CODE \\ --><a href="http://eepurl.com/emzzU">sign up for the email newsletter.</a><!-- \\ MAILCHIMP SUBSCRIBE CODE // -->. We will send out ad least one daily status email.</p>
</section>

{% endblock %}