{% extends 'base.html' %}

{% block content %}


<section id="about">
<h2>About</h2>
<p>Platform4's wonderful neighbor, the Limfjord, has long been flowing by quietly and uninterrupted. This will certainly change during Wet Art Workshop Week, where Copenhagen-based artistic group Illutron is coming to Aalborg to interact with Platform4's vibrant community in a collaborative workshop on interactive floating art.</p>
<p>The workshop, which is open to everybody, will run for almost an entire week and focus on building artistic constructions in the water. Floating, moving, sailing, submerged or whatever - we'll know along the way. Come join us and be a part of finishing the plan to create wet art! You can participate all days, some days or one day.</p>
<p>Participation in the workshop is free! (no need to participate all days, you can easily just be there one or more days).</p>

<h3>Platform 4</h3>
<p>Platform4 is a user-driven multi-purpose venue that experiments with new technological and digital elements in combination with artistic and creative genres ranging from music, theatre, contemporary art, design, architecture and more.<br> Read more at <a href="http://platform4.dk">platform4.dk</a></p>

<h3>Illutron</h3>
<p>Illutron is a collaborative interactive art studio located on a barge in Copenhagen south harbour.<br> Read more at <a href="http://illutron.dk/">illutron.dk</a></p>


</section>


<section id="images">
    <h2>Images</h2>
    <p>Tag your photos 'art on water' and 'illutron' on flickr.</p>

    <div id="flickrfeed" class="loading">
    </div>

    <a href="http://api.flickr.com/services/feeds/photos_public.gne?tags=artonwater,illutron&lang=en-us&format=rss_200">Get the feed</a>

</section>

<section id="news">
<h2>News</h2>
<p>Tag your tweets <strong>#wetart</strong></p>
<div id="twitterfeed" class="loading">

</div>
</section>


<section id="program">
<h2>Program</h2>
<p>Coming soon...</p>
<!--<h3>Monday</h3>
<p>...</p>

<h3>Tuesday</h3>
<p>...</p>

<h3>Wednesday</h3>
<p>...</p>

<h3>Thursday</h3>
<p>...</p>

<h3>Friday</h3>
<p>...</p>

<h3>Saturday</h3>
<p>...</p>

<h3>Sunday</h3>
<p>...</p>-->
</section>

<section id="participate">
    <h2>Participate</h2>
    <p>To participate it is necessary to sign up by sending an e-mail to info@platform4.dk with <em>Wet Art Workshop Week</em> in the header, and including your full name and mobile phone number.</p>
    <p>If you are joining, go <a href="https://www.facebook.com/event.php?eid=216320361724486">sign up on facebook</a> as well and generate some buzz.</p>
</section>

{% endblock %}